.line-section {
  flex:3;
  .line-wrapper{
    @include flexbox();
    @include clearfix();
  }
  .line-title {
    margin-top: 10px;
    text-align: center;
  }
}
.overview-trend{
  .highlight-wrapper {
    @include flexbox();
    @include clearfix();
  }
  .highlight-wrapper,
  ngx-charts-line-chart {
    position: relative;
    &::before {
      text-align: center;
      position: absolute;
      color: white;
      font-size: 15px;
      width: 100px;
      background-color: rgba(10, 10, 10, 0.6);
      padding: 10px;
      border-radius: 10px;
    }
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid rgba(10, 10, 10, 0.6);
    }
  }
}

// pseudo highlight object
.isilon-wrapper .overview-trend ngx-charts-line-chart {
  @include highlight(22%, 52%, 'Q3 FY18 \A Forecast: 22');
}
.isilon-wrapper .overview-trend .highlight-wrapper {
  @include highlight(-18%, 90%, ' Q4 FY18 \A Forecast: 43');
}
// pseudo highlight object
.ecs-wrapper .overview-trend ngx-charts-line-chart {
  @include highlight(1%, 52%, 'Q3 FY18 \A Forecast: 29');
}
.ecs-wrapper .overview-trend .highlight-wrapper {
  @include highlight(-18%, 90%, ' Q4 FY18 \A Forecast: 38');
}
// pseudo highlight object
.overview-wrapper .overview-trend ngx-charts-line-chart {
  @include highlight(12%, 52%, 'Q3 FY18 \A Forecast: 51');
}
.overview-wrapper .overview-trend .highlight-wrapper {
  @include highlight(-18%, 90%, ' Q4 FY18 \A Forecast: 81');
}
