.line-section {
  flex:3;
  .line-wrapper{
    @include flexbox();
    @include clearfix();
  }
  .line-title {
    margin-top: 10px;
    text-align: center;
  }
}

.highlight-wrapper,
.ecs-wrapper .highlight-wrapper2,
.overview-wrapper .highlight-wrapper2 {
  @include flexbox();
  @include clearfix();
}
.highlight-wrapper,
.ecs-wrapper .highlight-wrapper2,
.overview-wrapper .highlight-wrapper2,
ngx-charts-line-chart {
  position: relative;
  &::before {
    text-align: center;
    position: absolute;
    color: white;
    font-size: 15px;
    width: 100px;
    background-color: rgba(10, 10, 10, 0.6);
    padding: 10px;
    border-radius: 10px;
  }
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(10, 10, 10, 0.6);
  }
}

// pseudo highlight object
.isilon-wrapper .overview-trend ngx-charts-line-chart {
  @include highlight(22%, 52%, 'Q3 FY18 \A Forecast: 22');
}
.isilon-wrapper .overview-trend .highlight-wrapper {
  @include highlight(-18%, 90%, ' Q4 FY18 \A Forecast: 43');
}
// pseudo highlight object
.ecs-wrapper .overview-trend ngx-charts-line-chart {
  @include highlight(12%, 36%, 'Q3 FY18 \A Forecast: 29');
}
.ecs-wrapper .overview-trend .highlight-wrapper {
  @include highlight(-4%, 63%, ' Q4 FY18 \A Forecast: 38');
}
.ecs-wrapper .overview-trend .highlight-wrapper2 {
  @include highlight(-18%, 90%, ' Q1 FY19 \A Forecast: 46');
}
// pseudo highlight object
.overview-wrapper .overview-trend ngx-charts-line-chart {
  @include highlight(12%, 36%, 'Q3 FY18 \A Forecast: 51');
}
.overview-wrapper .overview-trend .highlight-wrapper {
  @include highlight(-13%, 63%, ' Q4 FY18 \A Forecast: 81');
}
.overview-wrapper .overview-trend .highlight-wrapper2 {
  @include highlight(17%, 90%, ' Q1 FY19 \A Forecast: 46');
}
