.pie-section {
  .pie-wrapper {
    @include flexbox();
    @include clearfix();
  }
  .pie-title {
    text-align: center;
  }
  .pie-section {
    flex: 2;
  }
  .pie-wrapper {
    position: relative;
  }
  .piechart-label {
    text-align: center;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 60px);
    color: white;
    font-size: 15px;
    width: 100px;
    padding: 10px;
  }
}
