/* this file will be extracted to main dist folder and is imported in index.html */


/* This file is for setting global styles  */

@import 'variables';
// @import './component';
nav {
  margin-top: 16px;
}

nav a {
  background-color: $nav-button-color;
  color: white;
  padding: 8px 16px;
  margin: 8px;
  vertical-align: middle;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin flexbox() {
  display: flex;
  justify-content: center;
  align-content: center;
}

.app-wrapper {
  font-family: sans-serif;
  padding: 30px 60px;
}

.section {
  padding: 20px 30px;
  &:not(:last-child) {
    border-bottom: 2px dotted deepskyblue
  }
}

.section.flex,
.ngx-chart {
  display: flex;
  justify-content: center;
  align-content: center;
}

.pie-wrapper,
.line-wrapper,
.row {
  @include flexbox();
  @include clearfix();
}


.sub-title {
  font-weight: bold;
  font-size: 30px;
}

// Section 1
.pie-title {
  text-align: center;
}

.pie-section {
  flex: 2;
}

.line-section {
  flex: 3;
}

.pie-wrapper {
  width: 100%;
}

.line-title {
  text-align: center;
}

// Section 3
.bar-section {
  width: 100%;
  padding: 50px 0;
}

bar {
  flex: 1;
}

.bar-wrapper {
  .text-wrapper {
    width: 320px;
    margin: auto;
  }
  .bar-title {
    margin-left: 20px;
  }
  .bar-value {
    color: deepskyblue;
    float: right;
    margin-right: 20px;
  }
}

// Section 2
ul.list-row {
  display: flex;
  list-style-type: none;
  padding: 0;
  li {
    flex: 1;
    span {
      display: block;
      text-align: center;
      &.detail-value {
        font-family: cursive;
        font-size: 30px;
      }
    }
  }
}

// Section 4
table {
  margin: auto;
  border-collapse: collapse;
}

td,
th {
  min-width: 100px;
  text-align: center;
  padding: 5px 5px;
}

tr:nth-child(even) {
  background-color: #eeeeee;
}
