<div class="legend" >
   <span *ngFor="let item of pieData">
      {{item.name}}
   </span>
</div>
<div class="pie-wrapper">
  <span class="piechart-label">Total Reqs {{total}}</span>
  <ngx-charts-pie-chart
    class="ngx-chart"
    [view]="view"
    [scheme]="colorScheme"
    [results]="pieData"
    [legend]="showLegend"
    [legendTitle]="''"
    [explodeSlices]="explodeSlices"
    [labels]="showLabels"
    [doughnut]="doughnut"
    [gradient]="gradient">
  </ngx-charts-pie-chart>
</div>
<div class="pie-title">Hiring Overview</div>
