<div class="bar-wrapper">
  <div class="text-wrapper">
    <span class="bar-title">{{title}}</span>
    <span class="bar-value">{{value}}</span>
  </div>
  <ngx-charts-bar-horizontal-stacked
    class="ngx-chart"
    [view]="view"
    [scheme]="colorScheme"
    [results]="barData"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [legend]="showLegend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel">
  </ngx-charts-bar-horizontal-stacked>
</div>
