<div class="app-wrapper">
  <div class="sub-title">Isilon China Hiring Dashboard</div>
  <div class="section flex">
    <pie class="pie-section" [pieData]="overviewGroup"></pie>
    <line class="line-section" [lineData]="lineData"></line>
  </div>
  <div class="section">
    <ul class="list-row">
      <li *ngFor="let item of detailGroup.slice(0,5)">
        <span class="detail-value">{{item.value}}</span>
        <span class="detail-name">{{item.name}}</span>
      </li>
    </ul>
    <ul class="list-row">
      <li *ngFor="let item of detailGroup.slice(5)">
        <span class="detail-value">{{item.value}}</span>
        <span class="detail-name">{{item.name}}</span>
      </li>
    </ul>
  </div>
  <div class="section flex">
    <div class="bar-section">
      <div class="row">
        <bar *ngFor="let item of barData.slice(0,3)" [barData]="item"></bar>
      </div>
      <div class="row">
        <bar *ngFor="let item of barData.slice(3)" [barData]="item"></bar>
      </div>
    </div>
  </div>
  <!--<div class="section">
    <standard-table [tableHeader]="tableHeader" [tableContent]="tableContent"></standard-table>
  </div>-->
</div>
