<div class="app-wrapper">
  <div class="sub-title">Isilon China Hiring Dashboard</div>
  <div class="section flex">
    <pie class="pie-section" [pieData]="overviewGroup"></pie>
    <line class="line-section" [lineData]="reqTrend" [chartTitle]="'Filling Req Trend & Forecasting'"></line>
  </div>
  <div class="section">
    <ul class="list-row">
      <li *ngFor="let item of detailGroup">
        <span class="detail-value">{{item.value}}</span>
        <span class="detail-name">{{item.name}}</span>
      </li>
    </ul>
    <!--<ul class="list-row">
      <li *ngFor="let item of detailGroup.slice(5)">
        <span class="detail-value">{{item.value}}</span>
        <span class="detail-name">{{item.name}}</span>
      </li>
    </ul>-->
  </div>
  <div class="section">
    <div class="bar-section">
      <div *ngFor="let group of barData">
        <bar *ngFor="let item of group" [barData]="item"></bar>
      </div>
    </div>
  </div>
  <div class="section flex">
    <line class="line-section" [lineData]="resumeTrend" [chartTitle]="'Sourcing Resume Trend & Forecasting'" [chartWidth]="'600'"></line>
    <line class="line-section" [lineData]="interviewTrend" [chartTitle]="'Onsite/Matrix Interview Trend & Forecasting'" [chartWidth]="'600'"></line>
  </div>
  <!--<div class="section">
    <standard-table [tableHeader]="tableHeader" [tableContent]="tableContent"></standard-table>
  </div>-->
</div>
